*{
    padding-top: 50px;
    margin: 0px;
    text-decoration: none;
    background-color: gray;
    
}

h1{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#div{
    display: flex;
    justify-content: center;
    gap: 20px;
    /* width: 400px;
     margin: 0 auto */
}

input{
    padding: 20px;
    border-style: 20ps solid black;
    border-radius: 20px;
    font-size: 20px;
}
button{
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer
}